body {
    background-color: #1C2126;
}

.inline-block {
    display: inline-block ;
    vertical-align: top;
}


.logo {
    width: 300px;
    vertical-align: top;
    display: inline-block;
}

nav {
    width: 100%;
    padding: 1%;
}

ul {
    display: inline-block;
    position: relative;
    float: right;
}

li a {
    padding: 10px;
    color: #9BB1BF;
}

.heroImg {
    height: 600px;
    padding-right: 0;
}

.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: #373738;
    padding: 5%;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

footer li {
    padding: 10px;
}